<!-- <header class="d-flex align-items-center px-4 py-2">
  <a routerLink="/search" class="btn-home me-auto">Home</a>
  <h1 class="mb-0 flex-grow-1 text-center">Pokémon TCG Card Search</h1>
  <div class="header-actions ms-auto">
    <a routerLink="/api/documentation" class="btn-api">API Doc</a>
    <a routerLink="/favorites" class="btn-favorites">View Favorites</a>
    <form (submit)="logout()">
      <button type="submit" class="btn-logout">Logout</button>
    </form>
  </div>
</header> -->

<!-- app.component.html -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
