/* navbar.component.css */
.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  background-color: #F4F1EA;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-right: 24px;
  color: #382110;
  flex-grow: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.left-links {
  display: flex;
  align-items: center;
}

.left-links a {
  margin: 0 8px;
  color: #00635D;
}

.welcome-text {
  color: #382110;
  margin: 0 16px;
  font-weight: 500;
}

.nav-links button[mat-raised-button] {
  margin-left: 16px;
  background-color: #409D69;
  color: white;
}